<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，为了对sql语句进行隔离，方便管理  -->

<mapper namespace="com.java.mapper.MyResourceMapper">

	<resultMap type="com.java.bean.MyResource" id="resourceMap">
		<result property="id" column="ID"/>
		<result property="content" column="CONTENT"/>
		<result property="bz" column="BZ"/>
	</resultMap>
	<!-- 根据id查询用户信息 -->
	
	<select id="getById" parameterType="java.lang.String" resultType="com.java.bean.MyResource">
		SELECT * FROM MY_RESOURCE WHERE ID= #{id}
	
	</select>
	
	
	 <!-- 查询所有 查询部分信息（比如SELECT ID,NAME,AGE FROM..也可以使用resultMap）-->
	<select id="getAll" parameterType="java.lang.String" resultMap="resourceMap">
		SELECT * FROM MY_RESOURCE WHERE CONTENT LIKE '%${value}%'
	</select>
	 
	 
	
	<!-- 添加用户 -->

	 <insert id="add" parameterType="com.java.bean.MyResource">
		INSERT INTO MY_RESOURCE(ID,CONTENT,BZ) VALUES(#{id},#{content},#{bz})
	</insert>
	
	 
	
	<!-- 删除用户  -->
	<delete id="delete" parameterType="java.lang.String">
	 DELETE FROM MY_RESOURCE WHERE ID=#{id}
	</delete>
	<!-- 修改用户
	要求：传入的user对象中包括 id属性值
	-->
	<update id="update" parameterType="com.java.bean.MyResource">
		UPDATE MY_RESOURCE SET CONTENT=#{content},BZ=#{bz} WHERE ID=#{id}
	</update>

</mapper>


